.container {
    padding-top: 80px;
}

.card:hover {
    background-color: var(--secondaryColor);
    color: #fff;
}

.card-image {
    min-height: 100%;
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pokemon-title {
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    font-size: 1.5rem;
}

/*@media screen and (max-width: 768px){*/
/*    .card-image {*/
/*        width: 200px;*/
/*    }*/

/*}*/