@import "constants.css";
.app-wrapper {
    background-image: var(--primaryBackGround);
}

.app-content {
    /*display: grid;*/
    /*width: 1200px;*/
    /*margin: 0 auto;*/
    padding-top: 80px;
}

footer {
    width: 100%;
    background-color: black;
    height: 50px;
    color: white;
}