:root {
    --primaryColor: #1B82B1;
    --secondaryColor: #E3350D;
    --primaryFont: "Permanent Marker";
    --primaryBackGround: url('https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png')
}